$bg-color: #090809;
$secondary-color: #DDDBF1;
$drums-color: #E200F7;
$keys-color: #FF901B;
$pad-color: #FC5E01;
$addition-color: #3C4F76;

@mixin button_shadow($color) {
    background-color: $color;
    box-shadow: 0 0 10px $color,
    0 0 20px $color,
    0 0 40px $color,
    0 0 80px $color;

    &:hover {
        box-shadow: 0 0 20px $color,
        0 0 30px $color,
        0 0 50px $color,
        0 0 80px $color;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: $secondary-color;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drumpad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    background-color: $bg-color;
    width: 35rem;
    height: 35rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff;

    &__button {
        &-drums, &-keys, &-pad {
            cursor: pointer;
            border-radius: 1rem;
            width: 140px;
            height: 140px;
        }

        &-drums {
            @include button_shadow($drums-color)
        }

        &-keys {
            @include button_shadow($keys-color)
        }

        &-pad {
            @include button_shadow($pad-color)
        }
    }

    &__key {
        pointer-events: none;
        display: block;
        color: $bg-color;
        opacity: 0.4;
        padding: 1rem;
    }
}