$bg-color: #090809;
$secondary-color: #DDDBF1;
$drums-color: #E200F7;
$keys-color: #FF901B;
$pad-color: #FC5E01;
$addition-color: #3C4F76;

* {
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: $secondary-color;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drumpad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    background-color: $bg-color;
    width: 35rem;
    height: 35rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* https://smoothshadows.com/#djEsMSwxMCwwLjEsMTAwLDM0LDI0LCNmZmZmZmYsIzAwMDAwMCwjMDAwMDAwLDM%3D */
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff;

    &__button {
        &-drums, &-keys, &-pad {
            cursor: pointer;
            border-radius: 1rem;
            width: 140px;
            height: 140px;
        }

        &-drums {
            background-color: $drums-color;
            box-shadow: 0 0 10px $drums-color,
            0 0 20px $drums-color,
            0 0 40px $drums-color,
            0 0 80px $drums-color;

            &:hover {
                box-shadow: 0 0 20px $drums-color,
                0 0 30px $drums-color,
                0 0 50px $drums-color,
                0 0 80px $drums-color;
            }
        }

        &-keys {
            background-color: $keys-color;
            box-shadow: 0 0 10px $keys-color,
            0 0 20px $keys-color,
            0 0 40px $keys-color,
            0 0 80px $keys-color;

            &:hover {
                box-shadow: 0 0 20px $keys-color,
                0 0 30px $keys-color,
                0 0 50px $keys-color,
                0 0 80px $keys-color;
            }
        }

        &-pad {
            background-color: $pad-color;
            box-shadow: 0 0 10px $pad-color,
            0 0 20px $pad-color,
            0 0 40px $pad-color,
            0 0 80px $pad-color;

            &:hover {
                box-shadow: 0 0 20px $pad-color,
                0 0 30px $pad-color,
                0 0 50px $pad-color,
                0 0 80px $pad-color;
            }
        }
    }
}